@model PDS5.Models.FunctionModel
@{
    ViewData["Title"] = "Fourier";
}

<div>
    <div class="active-elements">
        <div class="text-center border-fourier">
            <b>Input</b>
        </div>
        <div class="border-fourier">
            <table class="input-table">
                <tr>
                    <td>
                        <label for="inputValue" class="text-font">Text field:</label>
                    </td>
                    <td>
                        <input name="inputValue" type="text" id="inputValue" value="@Model.InputValue" class="custom-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="filePath" class="text-font">Path to file:</label>
                    </td>
                    <td>
                        <input name="checkValue" type="text" id="filePath" value="@Model.FilePath" class="custom-input">
                    </td>
                </tr>
            </table>
            <div class="text-center mt-2">
                <button type="button" class="cybr-btn mx-2" onclick="GenerateSignature(false)">
                    INPUT
                    <span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                    <span aria-hidden class="cybr-btn__tag">R25</span>
                </button>
                <button type="button" class="cybr-btn mx-2" onclick="GenerateSignature(true)">
                    FILE
                    <span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                    <span aria-hidden class="cybr-btn__tag">R25</span>
                </button>
            </div>
        </div>
        <div class="text-center border-fourier">
            <b>Signature</b>
        </div>
        <div class="border-fourier">
            <table class="input-table">
                <tr>
                    <td>
                        <label for="signature" class="text-font">Signature:</label>
                    </td>
                    <td>
                        <input name="signature" type="text" id="signature" class="custom-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="signaturePath" class="text-font">Path to file:</label>
                    </td>
                    <td>
                        <input name="signaturePath" type="text" id="signaturePath" value="@Model.SignaturePath" class="custom-input">
                    </td>
                </tr>
            </table>
            <div class="text-center mt-2">
                <button type="button" class="sea" style="--content: 'SAVE';" onclick="SaveSignature()">
                    <div class="left"></div>
                    SAVE
                    <div class="right"></div>
                </button>
            </div>
        </div>
        <div class="text-center border-fourier">
            <b>Check</b>
        </div>
        <div class="border-fourier">
            <table class="input-table">
                <tr>
                    <td>
                        <label for="inputCheck" class="text-font">Text field:</label>
                    </td>
                    <td>
                        <input name="inputCheck" type="text" id="inputCheck" value="@Model.InputValue" class="custom-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="fileCheck" class="text-font">Path to file:</label>
                    </td>
                    <td>
                        <input name="fileCheck" type="text" id="fileCheck" value="@Model.FilePath" class="custom-input">
                    </td>
                </tr>
            </table>
            <div class="text-center mt-2">
                <div class="text-center mt-2">
                    <button type="button" class="cybr-btn mx-2" onclick="Check(false)">
                        INPUT
                        <span aria-hidden>_</span>
                        <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                        <span aria-hidden class="cybr-btn__tag">R25</span>
                    </button>
                    <button type="button" class="cybr-btn mx-2" onclick="Check(true)">
                        FILE
                        <span aria-hidden>_</span>
                        <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                        <span aria-hidden class="cybr-btn__tag">R25</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>